# EditorConfig helps maintain consistent coding styles across different editors
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.{json,yml,yaml}]
indent_size = 2

[*.{js,jsx,ts,tsx,mjs}]
indent_size = 2

[*.mdx]
indent_size = 2
trim_trailing_whitespace = false
