@tailwind utilities;

.cards.cards {
   gap: 2rem;
}

.cards span {
  margin: auto;
}

.dark .cards.cards a {
  border-color: rgb(150, 150, 150);
}

.dark .cards.cards a:hover {
  border-color: white;
}
